<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a href="/" id="home"class="w3-bar-item w3-button w3-padding-large">2DChart</a>
  
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">備轉容量</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">行業用電</a>
      <a href="/taiwan" class="w3-bar-item w3-button w3-padding-large w3-hide-small">地區用電</a>
     </div>
  </div>
  
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">備轉容量</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">行業用電</a>
    <a href="/taiwan" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">地區用電</a>
  </div>