<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/style.css">
<script src='javascripts/Chart.js'></script>
<script src='javascripts/init.js'></script>
<script src='javascripts/prepare.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <%- include nav.ejs %>

1
<!-- Page content -->

  <!-- 發電長條圖 -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1280px" id="band">
    
    <h2 class="w3-wide">備轉容量(萬瓩)</h2>
    <div class="chart_box">
      <canvas id="myChart1" ></canvas>
    </div>
 
    <h2 class="w3-wide">備轉率(百分比)</h2>
    <div class="chart_box">
    <canvas id="myChart2" ></canvas>
  </div>

  </div>
  <div class="w3-container w3-center w3-padding-64" style="background: #f4f4f4; width: 100%;" id="band">
  
   <!-- 查詢 -->
  <input type="date" id="datepicker">
  <input type="submit" onclick="getDate()">

<ul class="list1"></ul>
</div>







<!-- Page content -->


  
  <!-- End Page Content -->
  
  </div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">

</footer>




</body>
</html>
