<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/style.css">
<script src='javascripts/init.js'></script>
<script src="javascripts/jquery-1.10.2.min.js" type="text/javascript"> </script> 
<script src="javascripts/taiwan.js" type="text/javascript"> </script> 
<script src="javascripts/topojson.v1.min.js" type="text/javascript"> </script> 
<script src="javascripts/d3.v3.min.js" type="text/javascript"> </script> 
<script src="javascripts/fisheye.js" type="text/javascript"> </script> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
		<%- include nav.ejs %>



<!-- Page content -->
<div class="w3-content taiwan">
		<h2 class="w3-wide">地區用電率</h2>
		<div id="info">
				<div id="name"></div>
				<div id="density"></div>		
				</div>
		
		</div>
  
  <!-- End Page Content -->

  </div>

  <svg  preserveaspectratio="xMidYMid" viewbox="0 0 800 400" width="100%"></svg>
	

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">

</footer>




</body>
</html>
