<!DOCTYPE html>
<html>
<title>台灣用電</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/style.css">
<script src='javascripts/Chart.js'></script>
<script src='javascripts/init.js'></script>
<script src="javascripts/jquery-1.10.2.min.js" type="text/javascript"> </script> 
<script src="javascripts/taiwan.js" type="text/javascript"> </script> 
<script src="javascripts/topojson.v1.min.js" type="text/javascript"> </script> 
<script src="javascripts/d3.v3.min.js" type="text/javascript"> </script> 
<script src="javascripts/fisheye.js" type="text/javascript"> </script> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
		<%- include nav.ejs %>



<!-- Page content -->
<div class="w3-content taiwan">
		<h2 class="w3-wide">地區用電率</h2>
		<div id="info">
				<div id="name"></div>
				<div id="density"></div>		
				</div>
	
				<svg  preserveaspectratio="xMidYMid" viewbox="0 0 800 400" width="100%"></svg>
	
				
		</div>

  <!-- End Page Content -->

  <div class="w3-content search_box"  >
	<h2 class="w3-wide">各縣市用電類別</h2>
	<div style="display:inline-block"> 
	<div class="select"> 
		<select name="slct" id="slct">
		<option value="新北市">新北市</option>
		<option value="桃園市">桃園市</option>
		<option value="台中市">台中市</option>
		<option value="台南市">台南市</option>
		<option value="高雄市">高雄市</option>
		<option value="宜蘭縣">宜蘭縣</option>
		<option value="新竹縣">新竹縣</option>
		<option value="苗栗縣">苗栗縣</option>
		<option value="彰化縣">彰化縣</option>
		<option value="南投縣">南投縣</option>
		<option value="雲林縣">雲林縣</option>
		<option value="嘉義縣">嘉義縣</option>
		<option value="屏東縣">屏東縣</option>
		<option value="台東縣">台東縣</option>
		<option value="花蓮縣">花蓮縣</option>
		<option value="基隆市">基隆市</option>
		<option value="新竹市">新竹市</option>
		<option value="嘉義市">嘉義市</option>
		<option value="澎湖縣">澎湖縣</option>
		<option value="金門縣">金門縣</option>
		<option value="連江縣">連江縣</option>
	  </select>  
	  </div>	
	  <input  id="search_type"type="button" onclick="getOption()" value="Search">  
	</div>
	<div class="radar_box"></div>
</div>
</div>


  

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">

</footer>




</body>
</html>
